@font-face {
  font-family: SF Pro Display;
  src: "SF-Pro-Display-Regular.otf";
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: SF Pro Display, sans-serif;
  background-color: #284738;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}

#splash {
  height: 300px;
  display: flex;
  width: 100vw;
  font-size: 48px;
  justify-content: center;
  align-items: center;
  color: #FFC684;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* transition: height 100ms ease-in-out,
              font-size 200ms ease-in-out; */
}

#splash.empty {
  height: 100vh;
  font-size: 64px;
}

#splash .cmd {
  width: 35px;
  height: 35px;
}

#splash.empty .cmd {
  width: 46px;
  height: 46px;
}

#splash .plus {
  margin: 0 18px;
  width: 10px;
}

#splash.empty .plus {
  margin: 0 30px;
}

#paste-item-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 900px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.paste-item {
  border-radius: 40px;
  background-color: #1B4433;
  color: white;
  font-size: 24px;
  padding: 40px;
  margin-bottom: 114px;
  animation: fadeIn 250ms ease-in-out;
}